<% if (title) { %>
    <h1 class="top-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div>
    <h3>You're Logged In!</h3>
</div>