<% if (title) { %>
    <h1 class="top-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>

<div class="form-wrapper" id="login-wrapper">
    <form id="login-form" action="/account/login" method="post">
        <label for="account_email">Email: </label><br>
        <input type="email" id="account_email" name="account_email" required><br><br>
        <label for="account_password">Password: </label><br>
        <input id="account_password" name="account_password" required><br><br>
        <button type="submit">Login</button>
    </form><br>
    <p class="under-login">Don't have an account:</p>
    <p class="under-login"><a href="/account/registration">Click Here to Register</a></p>
</div>