<h2 id="hwelcome">Welcome to CSE Motors!</h2>
<%- messages() %>
<div id="imgContainer">
    <img src="./images/vehicles/delorean.jpg" alt="Delorean Car" id="delorean">
    <div id="overtext">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
</div>
<h2 id="hreviews">DMC Delorean Reviews</h2>
<ul id="reviews">
    <li>"So fast it's almost liek traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day" (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
</ul>
<h2 id="hupgrades">Delorean Upgrades</h2>
<div id="boxes">
    <div class="boxen" id="box1">
        <div class="imagebox">
            <img src="./images/upgrades/flux-cap.png" alt="flux capacitor">
        </div>
        <p><a href="#">Flux Capacitor</a></p>
    </div>
    <div class="boxen" id="box2">
        <div class="imagebox">
            <img src="./images/upgrades/flame.jpg" alt="flame decals">
        </div>
        <p><a href="#">Flame Decals</a></p>
    </div>
    <div class="boxen" id="box3">
        <div class="imagebox">
            <img src="./images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
        </div>
        <p><a href="#">Bumper Stickers</a></p>
    </div>
    <div class="boxen" id="box4">
        <div class="imagebox">
            <img src="./images/upgrades/hub-cap.jpg" alt="hub caps">
        </div>
        <p><a href="#">Hub Caps</a></p>
    </div>
</div>
