@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Patua+One&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', serif;
}

/*header css */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 65px;
}

.siteName{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 950;
  font-size: 1.7em;
}

.siteName a:link,.siteName a:visited, .siteName a:hover, .siteName a:active {
  text-decoration: none;
  color: #1F305D;
}

#tools a:link, #tools a:visited{
  font-size: .85em;
  color: #1F305D;
  text-decoration: none;
}

#tools a:hover{
  text-decoration: underline;
}

#tools a:active{
  color: blue;
  text-decoration: underline;
}

/*Nav Tags*/

#navi {
  background-color: #1F305D;
  color: white;
  flex-direction: row;
  padding: 0;
  margin: 0;
  min-height: 50px;
}

#navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#navi ul li{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  color: white;
}

#navi ul li a, #navi ul li a:visited{
  color: white;
  text-decoration: none;
}

#navi ul li a li:hover, #navi ul a:hover {
  color: white;
  text-decoration: underline;
}

#navi ul li a:active, #navi ul a:active{
  text-decoration: underline;
  color: white;
  font-style: italic;
}

/*Main Tags*/

main {
  font-size: .8em;
}

#imgContainer {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

#delorean{
  width: 100%;
}

#overtext{
  position: absolute;
  top: 0;
  width: 125px;
  background: rgba(255, 255, 255, 0.589);
  padding: 0;
}

#overtext > *{
  margin-top: 0;
  margin-bottom: 2px;
  color: #617DC9;
}

#overtext button {
  color: black;
  background-color: #617DC9;
  padding: 7px;
  font-weight: bolder;
}

#reviews{
  padding-inline-start: 15px;
}

#reviews li {
  padding-bottom: 5px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.imagebox{
  background-color: #617DC9;
  border: 1px solid black;
  min-width: 120px;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagebox img {
  margin: 5px;
}

.imagebox a p {
  margin-block-start: 2px;
}

.boxen{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Footer Tags*/

footer{
  font-size: .8em;
}

/*General Tags*/

main, nav, header, footer{
  font-family: 'Montserrat', sans-serif;
  width: 95%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*Wrapper*/

#wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.form-wrapper{
  background-color: lightgray;
  border: 3px solid #617DC9;
  border-radius: 3px;
  padding: 1em;
  max-width: 275px;
}

label {
  font-family: 'Montserrat', sans-serif;
}

.under-login{
  margin-bottom: 0px;
  margin-top: 0px;
}

@media only screen and (min-width: 568px){
  h2 {
    font-size: 2.2em;
  }
  #overtext{
    position: absolute;
    top: 0;
    width: 220px;
    background: rgba(255, 255, 255, 0.589);
    padding: 0;
  }
  
  #overtext > *{
    margin-top: 0;
    margin-bottom: 2px;
    color: #617DC9;
  }

  #overtext p, #overtext button {
    font-size: 1.8em;
  }

  #overtext h3 {
    font-size: 2em;
  }
  
  #overtext button {
    color: black;
    background-color: #617DC9;
    padding: 7px;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 840px){

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/site/checkerboard.jpg");
    height: 100%;
  }

  #wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border: 4px solid #617DC9;
    border-radius: 2px;
  }

  #top-header{
    width: 100%;

  }

  #navi {
    width: 100%;
    margin-left: 7px;
    margin-right: 7px;

  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: flex-start;
    justify-content: center;
  }
  #hwelcome{
    width: 100%;
    order: 1;
  }
  #imgContainer{
    width: 100%;
    order: 2;
    margin-bottom: 15px;
  }
  #delorean {
    width: 80%;
  }
  #hupgrades{
    order: 3;
    width: 50%;
  }
  #hreviews{
    order: 4;
    margin-left: 20px;
  }
  #boxes {
    order: 5;
    width: 50%;
  }
  #reviews{
    order: 6;
    font-weight: bold;
    margin-left: 20px;
  }

  .top-title {
    width: 100%;
    height: 2em;
  }

  #login-wrapper {
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 1050px){
  #reviews{
    font-weight: bold;
    font-size: 1.3em;
  }

  h2{
    font-size: 2.6em;
  }

  #wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  
}